<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>דמו אידמפוטנטיות דואר<span class="idempotency-icon">DEMO</span></span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/create-shipment">
      <mat-icon>add</mat-icon>
      יצירת משלוח
    </button>
    <button mat-button routerLink="/lookup">
      <mat-icon>search</mat-icon>
      חיפוש משלוח
    </button>
    <button mat-button routerLink="/chaos-control">
      <mat-icon>science</mat-icon>
      בקרת כאוס
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
