:host {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

/* Simple 3D text effect with black color */
h1.font-black {
  font-weight: 900;
  letter-spacing: -0.025em;
}


/* Customizing Angular Material components for a 2026 feel */
::ng-deep .mat-mdc-slide-toggle {
  .mdc-form-field {
    font-family: inherit;
  }

  &.mat-primary {
    .mdc-switch__handle::after {
      background: #4f46e5; /* Indigo-600 */
    }
    .mdc-switch__track::after {
      background: #fff;
      border: 1px solid #e0e7ff; /* Indigo-100 */
    }
  }
}
